WSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://www.rachelsWSDL.org/WSDLFile/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="WSDLFile" 
	targetNamespace="http://www.rachelsWSDL.org/WSDLFile/">
  
  	<wsdl:types>
    	<xsd:schema targetNamespace="http://www.rachelsWSDL.org/WSDLFile/">
      
	      	<xsd:element name="show">
	        	<xsd:complexType>
	          	<xsd:sequence>
	            	<xsd:element name="in" type="xsd:string"/>
	          	</xsd:sequence>
	        	</xsd:complexType>
	      	</xsd:element>
	      	<xsd:element name="showResponse">
	        	<xsd:complexType>
	          		<xsd:sequence>
	            		<xsd:element name="out" type="xsd:string"/>
	         	 	</xsd:sequence>
	        	</xsd:complexType>
	      	</xsd:element>
	      
	      	<xsd:element name="update">
	        	<xsd:complexType>
	          		<xsd:sequence>
	            		<xsd:element name="in" type="xsd:string"/>
	          		</xsd:sequence>
	        	</xsd:complexType>
	      	</xsd:element>
	      	<xsd:element name="updateResponse">
	        	<xsd:complexType>
	          		<xsd:sequence>
	            		<xsd:element name="out" type="xsd:string"/>
	          		</xsd:sequence>
	        	</xsd:complexType>
	      	</xsd:element>
      
    	</xsd:schema>
  	</wsdl:types>

	<wsdl:message name="show">
		<wsdl:part element="tns:show" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="showResponse">
		<wsdl:part element="tns:showResponse" name="parameters"/>
	</wsdl:message>  			
	  
	<wsdl:message name="update">
		<wsdl:part element="tns:update" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="updateResponse">
		 <wsdl:part element="tns:updateResponse" name="parameters"/>
	</wsdl:message>
	  
	<wsdl:portType name="WSDLFile">
	    <wsdl:operation name="show">
	      	<wsdl:input message="tns:show"/>
	      	<wsdl:output message="tns:showResponse"/>
	    </wsdl:operation>
	  
	    <wsdl:operation name="update">
	      	<wsdl:input message="tns:update"/>
	      	<wsdl:output message="tns:updateResponse"/>
	    </wsdl:operation>
	</wsdl:portType>
	  
	<wsdl:binding name="WSDLFileSOAP" type="tns:WSDLFile">
	 	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	    
	    <wsdl:operation name="show">
	     	<soap:operation soapAction="http://www.rachelsWSDL.org/WSDLFile/show"/>
	      	<wsdl:input>
	        	<soap:body use="literal"/>
	      	</wsdl:input>
	      	<wsdl:output>
	        	<soap:body use="literal"/>
	     	</wsdl:output>
	 	</wsdl:operation>
	    
	    <wsdl:operation name="update">
	      	<soap:operation soapAction="http://www.rachelsWSDL.org/WSDLFile/update"/>
	      	<wsdl:input>
	      		<soap:body use="literal"/>
	      	</wsdl:input>
	      	<wsdl:output>
	        	<soap:body use="literal"/>
	      	</wsdl:output>
	    </wsdl:operation>
	    
	  </wsdl:binding>
	 
	  <wsdl:service name="WSDLFile">
	    	<wsdl:port binding="tns:WSDLFileSOAP" name="WSDLFileSOAP">
	      		<soap:address location="http://www.rachelsWSDL.org/"/>
	    	</wsdl:port>
	  </wsdl:service>
  
</wsdl:definitions>
